<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.stockdao.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="Taxonomy">
		<classes>
			<!-- Test entity -->
			<!-- <class name="idv.hsiehpinghan.stockdao.entity.TaxonomyTest" /> -->

			<!-- Test repositoty -->
			<!-- <class name="idv.hsiehpinghan.stockdao.repository.TaxonomyRepositoryTest" 
				/> -->
		</classes>
	</test>
	<test name="StockInfo">
		<classes>
			<!-- Test entity -->
<!-- 			<class name="idv.hsiehpinghan.stockdao.entity.StockInfoTest" /> -->

			<!-- Test repositoty -->
<!-- 			<class name="idv.hsiehpinghan.stockdao.repository.StockInfoRepositoryTest" /> -->
		</classes>
	</test>
	<test name="Xbrl">
		<classes>
			<!-- Test entity -->
			<class name="idv.hsiehpinghan.stockdao.entity.XbrlTest" />

			<!-- Test repositoty -->
		</classes>
	</test>
	<test name="MonthlyData">
		<classes>
			<!-- Test entity -->
			<!-- <class name="idv.hsiehpinghan.stockdao.entity.MonthlyDataTest" /> -->

			<!-- Test repositoty -->
			<!-- <class name="idv.hsiehpinghan.stockdao.repository.MonthlyDataRepositoryTest" 
				/> -->
		</classes>
	</test>
	<test name="DailyData">
		<classes>
			<!-- Test entity -->
			<!-- <class name="idv.hsiehpinghan.stockdao.entity.DailyDataTest" /> -->

			<!-- Test repositoty -->
		</classes>
	</test>
</suite>