<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.stockdao.suit.TestngSuitSetting" />
			<!-- Test repositoty -->
			<class
				name="idv.hsiehpinghan.stockdao.repository.FinancialReportPresentationRepositoryTest" />
			<class
				name="idv.hsiehpinghan.stockdao.repository.FinancialReportInstanceRepositoryTest" />
			<!-- Test entity -->
			<class
				name="idv.hsiehpinghan.stockdao.entity.FinancialReportPresentationTest" />
			<class name="idv.hsiehpinghan.stockdao.entity.FinancialReportInstanceTest" />
			<class
				name="idv.hsiehpinghan.stockdao.repository.FinancialReportDataRepositoryTest" />
			<class name="idv.hsiehpinghan.stockdao.entity.StockDownloadInfoTest" />

			<class name="idv.hsiehpinghan.stockdao.entity.StockClosingConditionTest" />
		</classes>
	</test>
</suite>