<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.stockdao.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="Taxonomy">
		<classes>
			<!-- Test repositoty -->
			<class
				name="idv.hsiehpinghan.stockdao.repository.hbase.TaxonomyRepositoryTest" />

			<!-- Test entity -->
			<class name="idv.hsiehpinghan.stockdao.entity.TaxonomyTest" />
		</classes>
	</test>
	<test name="Stock">
		<classes>
			<!-- Test repositoty -->

			<!-- Test entity -->
			<class name="idv.hsiehpinghan.stockdao.entity.StockTest" />
		</classes>
	</test>
</suite>