<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.mopsdao.suit.TestngSuitSetting" />
<!-- 			<class name="idv.hsiehpinghan.mopsdao.repository.FinancialReportPresentationRepositoryTest" /> -->
			<class name="idv.hsiehpinghan.mopsdao.repository.FinancialReportInstanceRepositoryTest" />
<!-- 			<class name="idv.hsiehpinghan.mopsdao.entity.FinancialReportInstanceTest" /> -->
			
		</classes>
	</test>
</suite>